<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">

<head>
  <meta charset="utf-8" />
  <title>{{.Title}} - Opacity Storage</title>
  <meta property="og:title" content="{{.Title}}">
  <meta property="og:image" content="{{.Image}}">
  <meta property="og:description" content="{{.Description}}">
  <meta property="og:url" content="https://public.opacity.io">

  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta http-equiv="Content-Security-Policy" content="worker-src 'self'" />

  <!-- Primary Meta Tags -->
  <meta name="title" content="{{.Title}}">
  <meta name="description" content="{{.Description}}">

  <!-- Open Graph / Facebook -->

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="{{.Title}}">
  <meta property="twitter:description" content="{{.Description}}">
  <meta property="twitter:image" content="{{.Image}}">
  <meta property="twitter:url" content="https://public.opacity.io">
  <meta name="telegram:channel" content="@telegram">

  <link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-alpha.13/dist/css/tabler.min.css">
  <link href="/shortlink/style.eb920fd.css" rel="stylesheet"/>
</head>

<body>
  <div id="root"></div>

  <script>
    window.OpacityFile = {
      url: "{{.Url}}",
      title: "{{.Title}}",
      description: "{{.Description}}",
      mimeType: "{{.MimeType}}",
      thumbnail: "{{.Image}}",
      fileExtension: "{{.FileExtension}}",
    }
  </script>

  <script type="text/javascript" src="/shortlink/app.53f1e1e8.js"></script>
<script type="text/javascript" src="/shortlink/vendor.3c9b846f.js"></script>
</body>

</html>