<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="icon" href="resources/favicon.ico" type="image/x-icon" />
  <!-- HTML Meta Tags -->
  <meta name="googlebot" content="index,follow,snippet,archive">
  <meta name="robots" content="all,index,follow">
  <meta name="author" content="Opacity.io">
  <meta name="copyright" content="2021 opacity.io">
  <title>{{.Title}} - Opacity Storage</title>
  <meta name="robots" content="follow, index">

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Opacity.io">
  <!-- <meta itemprop="image" content={{.Image}}> -->
  <meta itemprop="image" content="/logo.png">

  <!-- Og Meta Tags -->
  <meta property="og:url" content="https://www.opacity.io">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Opacity.io">
  <meta property="og:image" content="/logo.png">
  <!-- <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="300" /> -->

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Opacity.io">
  <meta name="twitter:image" content="/logo.png">

  <link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-alpha.13/dist/css/tabler.min.css">
  <script src="https://unpkg.com/@tabler/core@alpha/dist/js/tabler.min.js"></script>
  <link href="/shortlink/style.06ee5456a.css" rel="stylesheet"/>
</head>

<body>
  <div id="root"></div>

  <script>
    window.OpacityFile = {
      shortlink: "{{.Shortlink}}",
      url: "{{.Url}}",
      title: "{{.Title}}",
      description: "{{.Description}}",
      mimeType: "{{.MimeType}}",
      thumbnail: "{{.Image}}",
      fileExtension: "{{.FileExtension}}",
    }
  </script>

  <script type="text/javascript" src="/shortlink/app.06fc665e7.js"></script>
<script type="text/javascript" src="/shortlink/vendor.07e80d363.js"></script>
</body>

</html>